# Django 2.2 LTS, supported until April 2022
django==2.2.*
# per Django docs: https://docs.djangoproject.com/en/2.2/ref/databases/#postgresql-notes
psycopg2>=2.5.4
boto3
uwsgi
newrelic
requests
backoff
